<footer>
  <div class="footer-container">
    <div class="wrapper">
      <div class="row">
        <div class="col flex-fill">
          <div class="row flex-column align-items-center">
            <span class="mat-title">Название</span>
            <nav class="nav flex-column">
              <a class="footer-nav-link" [routerLink]="[ '#' ]">Название</a>
              <a class="footer-nav-link" [routerLink]="[ '#' ]">Название</a>
              <a class="footer-nav-link" [routerLink]="[ '#' ]">Название</a>
              <a class="footer-nav-link" [routerLink]="[ '#' ]">Название</a>
            </nav>
          </div>
        </div>
        <div class="col flex-fill">
          <div class="row flex-column align-items-center">
            <span class="mat-title">Название</span>
            <nav class="nav flex-column">
              <a class="footer-nav-link" [routerLink]="[ '#' ]">Название</a>
              <a class="footer-nav-link" [routerLink]="[ '#' ]">Название</a>
              <a class="footer-nav-link" [routerLink]="[ '#' ]">Название</a>
              <a class="footer-nav-link" [routerLink]="[ '#' ]">Название</a>
            </nav>
          </div>
        </div>
        <div class="col flex-fill">
          <div class="row flex-column align-items-center">
            <span class="mat-title">Название</span>
            <nav class="nav flex-column">
              <a class="footer-nav-link" [routerLink]="[ '#' ]">Название</a>
              <a class="footer-nav-link" [routerLink]="[ '#' ]">Название</a>
              <a class="footer-nav-link" [routerLink]="[ '#' ]">Название</a>
              <a class="footer-nav-link" [routerLink]="[ '#' ]">Название</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container-logo">
    <div class="wrapper">
      <div class="row justify-content-center">
        <a href="/">
          <img src="./assets/icon_test_bold_2.svg" alt="Confetti">
        </a>
      </div>
    </div>
  </div>
</footer>